<head>
	<meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1">  </meta>
    <title> To Do Web Uygulaması </title>
	<link rel="stylesheet" href="/css/bootstrap.min.css"> </link>
	<link rel="stylesheet" href="/css/all.css"> </link>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet"> </link>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Yanone+Kaffeesatz&display=swap" rel="stylesheet"></link>
    <link rel="stylesheet" href="/css/bootstrap-datepicker3.css"> </link>
    <link rel="stylesheet" href="/css/main.css" />
</head>